extends layout

block content
    

    section#doctor.noborder
        h2#name Dr. #{doctor.name}, MD
        h4 #{doctor.title}
        div#address
            p#practice.noborder <strong>#{doctor.practice}</strong>
            p#address.noborder #{doctor.address}, #{doctor.city} #{doctor.zip}
            p#phone.noborder <a href="tel:#{doctor.phone}">#{doctor.phone}</a>
        img#map(src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x300&markers=39.9012015,-75.1719795")

    section#patients
        h3 Patients
        each pat in doctor.patients
            p
                a(href='/patient/#{pat.idref}', data-transition='slide') #{pat.name}

