extends layout

block scripts
    link(rel='stylesheet', href='/stylesheets/doctor.css')

block content
    

    section#doctor
        h2#name= doctor.name
        p#practice <strong>Practice</strong> #{doctor.practice}
        p#address <strong>Address</strong> #{doctor.address}
        p#zip <strong>Zip Code</strong> #{doctor.zip}
        p#phone <strong>Phone Number</strong> #{doctor.phone}

    section#patients
        h3 Patients
        each pat in doctor.patients
            //- p= pat
            p
                a(href='/api/patient/#{pat}', target='_blank') #{pat}

