extends layout

block content
	h1= title

	h2= doctor.name
	p= doctor.practice
	p= doctor.address
	p= doctor.zip
	p= doctor.phone

	h2 patients
	each pat in doctor.patients
		//- p= pat
		p
			a(href='/api/patient/#{pat}', target='_blank') #{pat}