extends layout

block content
	h1= title

	h2= patient.name
	p= patient.gender
	p= patient.address
	p= patient.city
	p= patient.state
	p= patient.zip
	p= patient.phone
	p= patient.birthDate

	h2 Prescriptions
	each presc in patient.prescriptions
		p
			a(href='/api/presc/#{presc._id}', target='_blank') #{presc.medication}