extends layout



block content
    
    section
        h2 #{patient.name}
        p <strong>Gender</strong> #{titleCase(patient.gender)}
        p <strong>Birth Date</strong> #{patient.birthDate}
        p <strong>Address</strong> #{patient.address}
        p <strong>City</strong> #{patient.city}
        p <strong>State</strong> #{patient.state}
        p <strong>Zip Code</strong> #{patient.zip}
        p <strong>Phone Number</strong> #{patient.phone}

    section
        h2 Prescriptions
        each presc in patient.prescriptions
            p
                a(href='/api/presc/#{presc._id}', target='_blank') #{presc.medication}