extends layout



block content

    section.noborder
        h2#name #{patient.name}
        h4#practice.noborder #{Math.floor((Date.now() - patient.birthDate) / 31536000000)}-year old #{patient.gender} patient
        div#address
            p#address.noborder #{patient.address}, #{patient.city} #{patient.zip}
            p#phone.noborder #{patient.phone}

    section
        h2 Prescriptions
        each presc in patient.prescriptions
            p
              a(href='/api/presc/#{presc._id}', target='_blank') #{presc.medication}
        p
          a(href='/patient/#{patient._id}/create', target='_blank')#more <i class="fa fa-plus-circle"></i>
