extends layout

block content
	section
		h2 #{title}
		p <strong>Medication</strong> <br> #{presc.medication}
		p <strong>Directions</strong> <br> #{presc.directions}
		p <strong>Warnings</strong> <br> #{presc.doctor_notes}
		p <strong>Refills</strong> <br> #{presc.refills}
		p <strong>Date Prescribed</strong> <br> #{presc.date_prescribed}