extends layout

block content
	section
		h2 #{title}

	section
		h2 <strong>Medication</strong> #{presc.medication}
		p <strong>Directions</strong> #{presc.directions}
		p <strong>Warnings</strong> #{presc.doctor_notes}
		p <strong>Refills</strong> #{presc.refills}
		p <strong>Date Prescribed</strong> #{presc.date_prescribed}